@font-face
{
   font-family: "Gilroy";
   src: url(../font/Gilroy-Medium.ttf) format("opentype");
}

@font-face
{
   font-family: "Gilroy Bold";
   src: url(../font/Gilroy-Bold.ttf) format("opentype");
}

.page {
    width: 100%;
    height: 105vh;
    background-image: url(../images/fondo-giropte.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.head {
    width: 100%;
    padding-top: 60px;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.head-item {
    width: 48%;
}

.logo-giro {
    width: 100%;
    height: 210px;
    background-image: url(../images/logo_pte.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.logo-ecyd {
    width: 100%;
    height: 90px;
    background-image: url(../images/ecyd_.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

.sign-draw {
    width: 100%;
    height: 110px;
    background-image: url(../images/sorteos.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px 0 0;
}

.category-container {
    width: 932px;
    overflow: auto;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Gilroy Bold", sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 80px;
    text-align: center;
    color: #fff;
}

.category-container span {
    width: 166px!important;
}

.blue-back {
    width: 300px;
    height: 90px;
    background-image: url(../images/blue-back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: "Gilroy Bold", sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 90px;
    text-align: center;
    color: #fff;
}

.container-prepa {
    width: 820px;
    height: 510px;
}

.container-1x7 {
    width: 342px;
    height: 350px;
}

.container-1x6 {
    width: 343px;
    height: 311px;
}

.container-2x3 {
    width: 685px;
    height: 200px;
}

.container-2x4 {
    width: 685px;
    height: 250px;
}

.container-1x4 {
    width: 345px;
    height: 250px;
}

.container-1x5 {
    width: 345px;
    height: 300px;
}

.group {
    margin: 0 auto;
    border: 2px solid #000;
}

.section_qr {
    width: 100%;
    padding-top: 20px;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content_qr {
    width: 40%;
}

#ios {
    background-image: url(../images/ios_qr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
}

#android {
    background-image: url(../images/android_qr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
}

#spreadsheet {
    width: 100%; 
    height: 100%; 
}

.main {
    width: 900px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    margin: 0px auto;
}

.main-link {
    font-family: "Gilroy", sans-serif;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}