@font-face
{
   font-family: "Gilroy";
   src: url(../font/Gilroy-Medium.ttf) format("opentype");
}

@font-face
{
   font-family: "Gilroy Bold";
   src: url(../font/Gilroy-Bold.ttf) format("opentype");
}

.page {
    width: 100%;
    height: 104vh;
    background-image: url(../images/fondo-giro.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.head {
    width: 100%;
    padding-top: 30px;
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.head-item {
    width: 33%;
}

.logo-giro {
    width: 100%;
    height: 280px;
    background-image: url(../images/CGS+FINSUS.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.logo-ecyd {
    width: 100%;
    height: 200px;
    background-image: url(../images/ecyd.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

.sign-draw {
    width: 100%;
    height: 120px;
    background-image: url(../images/sorteo.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 30px;
}

.nike-logo {
    width: 70%;
    height: 280px;
    background-image: url(../images/nike.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0px auto;
}

.category-container {
    width: 932px;
    overflow: auto;
    margin: 0 auto 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blue-back {
    width: 300px;
    height: 80px;
    background-image: url(../images/blue-back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: "Gilroy Bold", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 80px;
    text-align: center;
    color: #fff;
}

.category-container span {
    width: 166px!important;
    font-family: "Gilroy Bold", sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 80px;
    text-align: center;
    color: #fff;
}

.container-1x5 {
    width: 345px;
    height: 275px;
}

.container-1x7 {
    width: 345px;
    height: 355px;
}

.container-2x3 {
    width: 685px;
    height: 205px;
}

.container-2x4 {
    width: 685px;
    height: 250px;
}

.container-2x5 {
    width: 685px;
    height: 280px;
}

.container-3x4 {
    width: 1025px;
    height: 250px;
}

.container-4x4 {
    width: 1368px;
    height: 250px;
}

.container-1x4 {
    width: 345px;
    height: 255px;
}

.group {
    margin: 0 auto;
}

#spreadsheet {
    width: 100%; 
    height: 100%; 
}

.main {
    width: 1200px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    margin: 0px auto;
}

.main-link {
    font-family: "Gilroy", sans-serif;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

.qr-code {
    position: fixed;
    bottom: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    height: 280px;
}

#code-ios {
    background-image: url(../images/ios_qr.png);
    left: 30px;
}

#code-android {
    background-image: url(../images/android_qr.png);
    right: 30px;
}